.rounded-section {
    border: 0;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

header.rounded-section {
    border-radius: 0 0 1rem 1rem;
    background-color:rgb(187, 198, 235);
}

#Search-Container.rounded-section {
    background-color: rgb(184, 236, 184);
}

#Search-History.rounded-section {
    background-color: rgb(184, 200, 236);
}

#No-Search.rounded-section {
    background-color: rgb(184, 234, 236);
}

#Current-Weather.rounded-section {
    background-color: rgb(184, 221, 236);
}

#Forecast.rounded-section {
    background-color: rgb(227, 184, 236);
}

#Forecast .rounded-section {
    background-color: rgb(239, 212, 245);
    flex-shrink: 1;
}

.rounded-section button {
    border-radius: 1rem;
}